{% extends "base.html" %}
{% block title %}{{ title|default:"Édition d'article" }} - Cosmos Blog{% endblock %}
{% block content %}
<div class="card glassy border-0 p-4">
    <h1 class="text-light h3 mb-3">{{ title|default:"Éditer l'article" }}</h1>
    <form method="post" enctype="multipart/form-data" class="row g-3">
        {% csrf_token %}
        <div class="col-12">{{ form.title.label_tag }} {{ form.title }}</div>
        <div class="col-12">{{ form.content.label_tag }} {{ form.content }}</div>
        <div class="col-12 col-md-6">{{ form.cover_image.label_tag }} {{ form.cover_image }}</div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Enregistrer</button>
            <a class="btn btn-outline-light" href="{% url 'article_list' %}">Annuler</a>
        </div>
    </form>
</div>
{% endblock %}
